<!-- <header class="flex gap-2 items-center justify-center">
  <div class="bg-gray-200 rounded-md p-2">
    <p class="text-gray-800 font-semibold">валюта {{ curr1.cc }}</p>
    <p class="text-gray-600">Rate: {{ curr1.rate | number:'1.2-2' }}</p>
  </div>

  <div class="bg-gray-200 rounded-md p-2">
    <p class="text-gray-800 font-semibold">валюта {{ curr2.cc }}</p>
    <p class="text-gray-600">Rate: {{ curr2.rate | number:'1.2-2' }}</p>
  </div>
</header> -->

<section class="py-4 flex justify-center items-center flex-col">
  <div class="flex gap-4">
    <div class="bg-gray-200 rounded-md p-4">
      <p class="text-gray-800 font-semibold">валюта {{ curr1.cc }}</p>
      <p class="text-gray-600">Rate: {{ curr1.rate | number:'1.2-2' }}</p>
    </div>

    <div class="bg-gray-200 rounded-md p-4">
      <p class="text-gray-800 font-semibold">валюта {{ curr2.cc }}</p>
      <p class="text-gray-600">Rate: {{ curr2.rate | number:'1.2-2' }}</p>
    </div>
  </div>

  <div class="mt-4">
    <div class="mb-2">
      <label class="block font-semibold">From</label>
      <select class="block border border-gray-300 rounded p-2" [(ngModel)]="selectedFromCurrency" (change)="convertCurrency()">
        <option *ngFor="let currency of currData" [ngValue]="currency">{{ currency.cc }}</option>
      </select>
      <input type="number" class="block border border-gray-300 rounded p-2 mt-2" [(ngModel)]="amountFrom" (input)="convertCurrency()">
    </div>

    <div>
      <label class="block font-semibold">To</label>
      <select class="block border border-gray-300 rounded p-2" [(ngModel)]="selectedToCurrency" (change)="convertCurrency()">
        <option *ngFor="let currency of currData" [ngValue]="currency">{{ currency.cc }}</option>
      </select>
      <input type="number" class="block border border-gray-300 rounded p-2 mt-2" [(ngModel)]="amountTo" (input)="convertCurrency()">
    </div>
  </div>

  <div class="mt-4">
    <button class="bg-blue-500 text-white rounded py-2 px-4" (click)="swapCurrencies()">Swap</button>
  </div>
</section>